@model AdvMasterDetails.Models.Login

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .thick-green-border {
        border-color: darkgrey;
        border-width: 2px;
        border-style: solid;
        border-radius: 50%;
    }

    .smaller-image {
        width: 100px;
    }
    .btn-pink {background-color: #ef4f85; border-color: #ef4f85; color: #fff; font-weight: 500; text-transform: uppercase;}
</style>
<div class="header-foot">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 freeHead_section emailVerification">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="page-head-title wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                                <img class="smaller-image thick-green-border" style="background-color:black;" src="~/Content/img/PromaxLogo_64.png" alt="Promax_logo"><hr />
                                <div class="title-area">
                                    <h2 class="title">ADMIN<span> LOGIN</span></h2>
                                </div><hr />

                                <div class="head-content">

                                    <div class="form-group" style="">

                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Id" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })<br />
                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Login" class="btn btn-sm btn-pink" />
                                        <a href="@Url.Action("Login","Login")" title="Back to Login"><i class="glyphicon glyphicon-arrow-left"></i> Back to home</a>
                                    </div>

                                </div>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}




